body, h1 {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-image: linear-gradient(180deg, #01353E 0%, 
    rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%), 
    url(/img/header/header_background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: center;
    
}

.logo {
    position: absolute;
    left: 360px;
    top: 0;
}

.menu__list-item {
    display: inline-block;
    list-style: none;
    margin-left: 45px;
}

.menu__list-item:first-child {
    margin-left: 0px;
}

.menu__link {
    position: relative;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
}

.menu__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    display: none;
    width: 0;
    height: 1px;
    background: #00B2A0;
}

.menu__link:hover::after {
    display: block;
    width: 100%;
}

.header__inner {
    display: block;
    text-align: center;
    margin-top: 270px;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #0D302C;
    font-size: 200px;
}

.header__subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
}

.about-wrap {
    margin-top: 190px;
}

.about__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #01353E;
}

.about__text {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    width: 1100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
}

.about__text-item {
    width: 480px;
}

.features {
    background-color: #F8F8F8;
}

.features-wrap {
    padding-top: 200px;
    width: 1200px;
    margin: auto;
}

.features__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #01353E;
    text-align: center;
}

.features__list {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.features__item {
    width: 350px;
    position: relative;
    
}

.features__item-logo {
    display: inline-block;
}

.features__item-title {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #242121;
}

.features__item-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
}

.features__plan {
    margin-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
}

.features__plan-waves {
    
}

.features__wave-logo {
    display: inline-block;
}

.features__plan-wave {
    margin-top: 20px;
}

.features__plan-wave:first-child {
    margin-top: 0px;
}

.features__wave-number {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #242121;
    margin-left: 10px;
}

.features__wave-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
}

.features__plan-text {
    width: 600px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
}

.benefit {
    position: relative;
}

.benefit-wrap {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.benefit__text {
    max-width: 510px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 350px;
}

.benefit__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #01353E;
}

.benefit__sub {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
    margin-top: 100px;
}

.benefit__img {
    position: absolute;
    right: 0;
}

.galery {
    
}

.galery-wrap {
    max-width: 1200px;
    margin: auto;
}

.galery__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #01353E;
    text-align: center;
}

.galery__nav {
    margin-top: 150px;
}

.galery__nav-list {
    padding-left: 0;
}

.galery__nav-item {
    display: inline-block;
    list-style: none;
    padding-left: 20px;
}

.galery__nav-item:first-child {
    padding-left: 0;
}

.galery__nav-link {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #242121;
    font-size: 24px;
    text-transform: uppercase;
}

.galery__nav-link:hover {
    color: #00B2A0;
}

.galery__images {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.galery__img {
    padding-top: 20px;
    padding-right: 20px;
}

.galery__button {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #242121;
    font-size: 24px;
    width: 348px;
    height: 68px;
    border: 1px solid #C4C4C4;
    margin: auto;
    text-align: center;
    line-height: 68px;
    margin-bottom: 100px;
    cursor: pointer;
}

.quote {
    background-color: #F8F8F8;
}

.quote__wrap {
    max-width: 1200px;
    margin: auto;
}

.quote__title {
    padding-top: 80px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #242121;
    font-size: 36px;
}

.quote__text {
    padding-bottom: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #242121;
    font-size: 14px;
    margin-left: 800px;
    line-height: 0;
}